{% extends "base.html" %}

{% block content %}

<div class="players">
    <div class="player-box">
        <h3>Player A</h3>
        <p><span id="playerA_name">{{ playerA }}</span>: <span id="playerA_score">{{ scoreA }}</span></p>
    </div>
    <div class="player-box">
        <h3>Player B</h3>
        <p><span id="playerB_name">{{ playerB }}</span>: <span id="playerB_score">{{ scoreB }}</span></p>
    </div>
</div>

<div class="throws">     
    <p class="round-sum">Round Total: <span id="round-sum">0</span></p>
    <p>Throw 1: <span id="throw1">-</span></p>
    <p>Throw 2: <span id="throw2">-</span></p>
    <p>Throw 3: <span id="throw3">-</span></p>
</div>

<div class="dart-board">
    <h2>Dart Board</h2>
    <button onclick="toggleView()">Switch to Picture</button>
    <button onclick="selectField('Undo')">Undo⏪</button>
    <button onclick="selectField('SaveGame')">Save💾</button>

    <div id="button-view">
        <div>
            <button id="double" onclick="selectField('Double', this)">Double</button>
            <button id="triple" onclick="selectField('Triple', this)">Triple</button>
            <button onclick="handleScore(0)">Miss</button>
        </div>
        <div class="score_fields">
            <div>
                <button onclick="handleScore(1)">1</button>
                <button onclick="handleScore(2)">2</button>
                <button onclick="handleScore(3)">3</button>
                <button onclick="handleScore(4)">4</button>
                <button onclick="handleScore(5)">5</button>
                <button onclick="handleScore(6)">6</button>
                <button onclick="handleScore(7)">7</button>
                <button onclick="handleScore(8)">8</button>
                <button onclick="handleScore(9)">9</button>
                <button onclick="handleScore(10)">10</button>
                <button onclick="handleScore(11)">11</button>
                <button onclick="handleScore(12)">12</button>
                <button onclick="handleScore(13)">13</button>
                <button onclick="handleScore(14)">14</button>
                <button onclick="handleScore(15)">15</button>
                <button onclick="handleScore(16)">16</button>
                <button onclick="handleScore(17)">17</button>
                <button onclick="handleScore(18)">18</button>
                <button onclick="handleScore(19)">19</button>
                <button onclick="handleScore(20)">20</button>
                <button onclick="handleScore(25)" id="bull-button">Bull</button>
            </div>
        </div>
    </div>

    <div id="picture-view" style="display: none;">
        <img src="{{ url_for('static', filename='images/dartboard.png') }}" alt="Dartboard">
    </div>
</div>
{% endblock %}
