<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script -->
    <!-- script src="{{ url_for('static', filename='scripts/board-status.js')}}"></script -->
    <title>Dart-App: Board-Status</title>
</head>
    <body>
        {% include 'header.html' %}
        <div class="camera_status">
            <div class="cam_item">
                <h2 class="cam-status one-row">Camera A</h2>
                <img class="cam-status" src="\video\1">
                <select class="form" name="camera" id="camera" required></select>
            </div>
            <div class="cam_item">
                <h2 class="cam-status one-row">Camera B</h2>
                <img class="cam-status" src="\video\2">
                <select class="form" name="camera" id="camera" required></select>
            </div>
            <div class="cam_item">
                <h2 class="cam-status one-row">Camera C</h2>
                <img class="cam-status" src="\video\3">
                <select class="form" name="camera" id="camera" required></select>
            </div>
            <div class="cam_settings">
                <h2 class="cam-status one row" >Camera Settings</h2>
                <select class="form" name="camaera_resolution" id="camera_resolution" required>
                    <optgroup label="Camera resolution">
                        <option class="form" value="0">320x240</option>
                        <option class="form" value="1">640x480</option>
                        <option class="form" value="2">1280x720</option>
                    </optgroup>
                </select>
                <select class="form" name="camera_fps" id="camera_fps" required>
                    <optgroup label="Camera FPS">
                        <option class="form" value="0">30</option>
                        <option class="form" value="1">60</option>
                        <option class="form" value="2">120</option>
                    </optgroup>
                </select>
        </div>
    </body>
</html>