<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Dart-App: Board-Status</title>
</head>
    <body>
        {% include 'header.html' %}
        <div class="camera_status">
            <div class="cam_item">
                <h2 class="cam-status one-row">Camera A</h2>
                <img class="cam-status" src="\video\0">
                <select class="form" name="camera" id="camera_a" required>
                    <option value="">Select Cameras</option>
                    {% for camera in cameras %}
                        <option value="{{ camera }}">{{ camera }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="cam_item">
                <h2 class="cam-status one-row">Camera B</h2>
                <img class="cam-status" src="\video\1">
                <select class="form" name="camera" id="camera_b" required>
                    <option value="">Select Cameras</option>
                    {% for camera in cameras %}
                        <option value="{{ camera }}">{{ camera }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="cam_item">
                <h2 class="cam-status one-row">Camera C</h2>
                <img class="cam-status" src="\video\2">
                <select class="form" name="camera" id="camera_c" required>
                    <option value="">Select Cameras</option>
                    {% for camera in cameras %}
                        <option value="{{ camera }}">{{ camera }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="cam_settings">
                <h2 class="cam-status one row" >Camera Settings</h2>
                <select class="form" name="camaera_resolution" id="camera_resolution" required>
                    <optgroup label="Camera resolution">
                        <option class="form" value="0">320x240</option>
                        <option class="form" value="1">640x480</option>
                        <option class="form" value="2">1280x720</option>
                        <option class="form" value="3">1920x1080</option>
                    </optgroup>
                </select>
                <select class="form" name="camera_fps" id="camera_fps" required>
                    <optgroup label="Camera FPS">
                        <option class="form" value="0">30</option>
                        <option class="form" value="1">20</option>
                        <option class="form" value="2">10</option>
                        <option class="form" value="3">5</option>
                    </optgroup>
                </select>
        </div>
    </body>
</html>